


header {
    border-bottom: solid 2px rgb(44, 66, 52);
    padding: 20px;
    font-size: 32px;
    color: rgb(44, 66, 52);
}

body {  
    background-color:gray ;

}

section {
    background: gray (184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

    section {
        background: gray (184, 156, 213);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
      }
      
      
      section {
        padding-left: 20px;
        padding-right: 20px;
      }

      .categoria-videos img:hover {
        display:flex;
        overflow-x: auto;
        gap: 10px;
        
    }
    

    .categoria{
        padding-left: 20px;
        padding-right: 20px;
}


.categoria-videos img {
    ]

}
    